.idea

WordCount/.idea
WordCount/project/project
WordCount/project/target
WordCount/project/build.properties
WordCount/target

ModifiedWordCount/.idea
ModifiedWordCount/project/project
ModifiedWordCount/project/target
ModifiedWordCount/project/build.properties
ModifiedWordCount/target